{% extends 'base.html.twig' %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block body %}
    {% include 'sidebar/sidebar.html.twig' %}
    <div class="register">
        {{ form_start(registrationForm, {'attr': {'class': 'register__form', 'novalidate': 'novalidate'} }) }}
        <h1 class="register__title">Create an account</h1>

        <div class="register__group">
            {{ form_row(registrationForm.firstName) }}
        </div>
        <div class="register__group">
            {{ form_row(registrationForm.email, {'attr': {'class': 'register__input'}}) }}
        </div>
        <div class="register__group">
            {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'register__input'}}) }}
        </div>

        <div class="register__group register__checkbox-group">
            <label class="register__label">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms) }}
            </label>
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="register__button">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
