{% extends 'base.html.twig' %}

{% block body %}
    {% include 'sidebar/sidebar.html.twig' %}

    <!-- Search input -->
        <form class="search" action="{{ path('articles_search') }}" method="get">
            <input type="text" name="q" placeholder="Search" value="{{ app.request.query.get('q') }}" class="search-form__input">
            <a href="{{ path('articles_search') }}">
                <button class="search__icon bi bi-search"></button>
            </a>
        </form>

        <!-- Articles section -->
        <section class="articles__section">

            <!-- Article -->
            {% for article in articles %}
            <div class="article">
                <!-- Article Image -->
                <a href="{{ path('article_show', { slug: article.slug }) }}">
                    <div class="article__image">
                        <img src="{{ article.image }}" alt="">
                    </div>
                </a>

                <!-- Article Content -->
                <div class="article__content">
                    <a href="{{ path('get_by_category', { categoryName: article.category.name | lower }) }}">
                    <span class="article__tag">{{ article.category.name }}</span>
                    </a>

                    <a href="{{ path('article_show', { slug: article.slug }) }}">
                    <h1 class="article__title">{{ article.title }}</h1>
                    </a>
                    <a href="{{ path('article_show', { slug: article.slug }) }}">
                        <p class="article__summary_paragraph">
                            {{ article.content|slice(0,240) ~ '...' }}
                        </p>
                    </a>
                </div>
            </div>
            {% endfor %}

        </section>

        <!-- Load more button -->
        <div>
            <button class="articles__load-more">LOAD MORE</button>
        </div>
{% endblock %}