{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ article.title }} {% endblock %}

{% block body %}
    {% include 'sidebar/sidebar.html.twig' %}

    <section class="single-article">
        <div class="single-article__container">
            <h1 class="single-article__title">{{ article.title }}</h1>

            <div class="single-article__image-container">
                <img class="single-article__image" src="{{ article.image }}" alt="{{ article.title }}">
            </div>

            <div class="single-article__content">
                {% for paragraph in article.content|split('\n') %}
                    <p class="paragraph">{{ paragraph|trim }}</p>
                {% endfor %}
            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'main/_comment_form.html.twig' %}
        {% else %}
            <div class="article__comment_sign-in">
                <a href="{{ path('app_login') }}" class="login__button_secondary">
                    <p>Sign in</p>
                </a>
                <h1 class="comment_message">to write a comment</h1>
            </div>
        {% endif %}

        {% for comment in comments %}
            <div class="comment">
                <div class="comment__author">{{ comment.commentedBy.firstName }}</div>
                <div class="comment__date">{{ comment.createdAt|date('F Y') }}</div>
                <div class="comment__content">{{ comment.content }}</div>
            </div>
        {% endfor %}
    </section>
{% endblock %}